---
title: "Accessibility Statements Generator"
permalink: /planning/statements/generator/
github:
  repository: w3c/wai-statements
  path: "generator.html"
footer: >
  <p><strong>Status:</strong> DRAFT Updated $date$.</p>
  <p><strong>Editors:</strong> <a href="https://www.w3.org/People/shadi">Shadi Abou-Zahra</a>, Eric Velleman, Sanne Eendebak, Martijn Frazer, and Leon Baauw.</p>
  <p>Developed by the <a href="https://www.w3.org/WAI/EO/">Education and Outreach Working Group (EOWG)</a>. Developed as part of the <a href="https://www.w3.org/WAI/Tools/">WAI-Tools project</a>, co-funded by the European Commission. <a href="../acknowledgements/">Acknowledgements</a>.</p>
external_css: /content-images/wai-statements/statements.css
---
<div id="accstatement">
  <section class="page create" hidden>
    <div class="container">

  {% include box.html type="start" title="Summary" class="" %}
      <p>The information you provide will be used to generate a sample statement that you can download and further refine. None of these fields are required for the tool to work. Also, none of the information your provide is stored outside your web browser.</p>
  {% include box.html type="end" %}

  {% include_cached toc.html type="start" title="Page Contents" class="full" %}
      <ul>
        <li><a href="#basic">Basic information</a></li>
        <li><a href="#efforts">Your efforts</a></li>
        <li><a href="#technical">Technical information</a></li>
        <li><a href="#approval">Approval and complaints process</a></li>
      </ul>
  {% include_cached toc.html type="end" %}


      {% include excol.html type="all" %}

      <form>
        {% include excol.html type="start" open="true" %}
        <h2 id="basic">Basic information</h2>
        <p class="intro">This section includes the minimal set of information recommended for an accessibility statement. It includes information about your organization, the accessibility standards you applied, and contact information for feedback.</p>

        {% include excol.html type="middle" %}
        <h3 class="label">About your statement <button type="button" class="button-small info-open" aria-expanded="false" aria-controls="info_about"><span>i</span></button></h3>
        <div class="information" id="info_about" hidden><p>Provide the name of your organization, and the address and name of your website or mobile application. This information will be used to customize the accessibility statement with the correct names and web address.</p></div>

        <div class="field">
          <label for="accstmt_org">Name of your organization <button type="button" class="button-small info-open" aria-expanded="false" aria-controls="info_org"><span>i</span></button></label>
          <div class="information" id="info_org" hidden><p>Provide the name of your organization as you want it to appear in the generated accessibility statement.</p>
          <p><strong>Example:</strong> Citylights Inc.</p></div>
          <input type="text" id="accstmt_org" placeholder="Example: Citylights Inc."  />
        </div>

        <div class="field">
          <label for="accstmt_url">Address of your website or mobile application <button type="button" class="button-small info-open" aria-expanded="false" aria-controls="info_url"><span>i</span></button></label>
          <div class="information" id="info_url" hidden><p>Provide the web address of the website or mobile application that is the subject of this accessibility statement. This includes version information and the release date, if necessary, to recognize a specific version. For mobile applications this could include a link to the place where the app can be downloaded or installed.</p>
          <p><strong>Example:</strong> website: "https://www.w3.org/WAI/demos/bad/". Mobile application: "[link to the app] (version 1.2.3)".</p></div>
          <input type="text" id="accstmt_url" placeholder="Example: https://www.w3.org/WAI/demos/bad/" />
        </div>

        <div class="field">
          <label for="accstmt_namesite">Name of your website or mobile application <button type="button" class="button-small info-open" aria-expanded="false" aria-controls="info_namesite"><span>i</span></button></label>
          <div class="information" id="info_namesite" hidden><p>If you provide a name for your website or mobile application, the generator can make this name a link to the website or mobile application. This will improve the readability of your accessibility statement.</p>
          <p><strong>Example:</strong> website: "Citylights Website". Mobile application: "Citylights App".</p></div>
          <input type="text" id="accstmt_namesite" placeholder="Example: Citylights Website or Citylights App" />
        </div>

        <h3 class="label">Accessibility standards applied <button type="button" class="button-small info-open" aria-expanded="false" aria-controls="info_standards"><span>i</span></button></h3>
        <div class="information" id="info_standards" hidden><p>State the accessibility standard that you have been aiming to apply. Usually this is the WCAG 2.0 Level AA, but may also be the latest version WCAG 2.1 Level AA. The <a href="https://www.w3.org/WAI/standards-guidelines/wcag/">Web Content Accessibility Guidelines (WCAG) Overview</a> introduces these standards and conformance levels.</p></div>

        <div class="field">
          <p class="expl">Which version and level of WCAG has been applied to the website?</p>

          <fieldset class="field" id="standard-version">
            <legend class="label">Standard applied</legend>
            <div class="radio-field">
                <input type="radio" name="accstmnt_standard" id="accstmnt_standard_wcag20aa" />
                <label for="accstmnt_standard_wcag20aa">WCAG 2.0 AA</label>
            </div>

            <div class="radio-field">
                <input type="radio" name="accstmnt_standard" id="accstmnt_standard_wcag21aa" />
                <label for="accstmnt_standard_wcag21aa">WCAG 2.1 AA</label>
            </div>

            <div class="radio-field">
                <input type="radio" name="accstmnt_standard" id="accstmnt_standard_other" />
                <label for="accstmnt_standard_other">Other</label>
                <input aria-label="Other standard name" type="text" name="accstmnt_standard_other" id="accstmnt_standard_other_name">
            </div>
          </fieldset>
        </div>

        <h3 class="label">Conformance status <button type="button" class="button-small info-open" aria-expanded="false" aria-controls="info_conformance"><span>i</span></button></h3>
        <div class="information" id="info_conformance" hidden><p>Indicate to what degree you conform to the accessibility standard stated in the previous section. In some cases there may be justifiable reasons to not fully conform throughout the entire content. You can indicate the parts that do not yet fully conform, including guidance on how to find help, in later sections of this form.</p></div>

        <fieldset class="field" id="conformance-status">
          <legend class="visuallyhidden">Conformance status</legend>
          <div class="radio-field">
            <input type="radio" name="accstmnt_conformance" id="accstmnt_conformance_full" />
            <label for="accstmnt_conformance_full"><span class="status">Fully conformant</span>: <span class="meaning">the content fully conforms to the accessibility standard without any exceptions</span></label>
          </div>
          <div class="radio-field">
            <input type="radio" name="accstmnt_conformance" id="accstmnt_conformance_partial" />
            <label for="accstmnt_conformance_partial"><span class="status">Partially conformant</span>: <span class="meaning">Some parts of the content do not fully conform to the accessibility standard (you can indicate these parts in later sections of this form)</span></label>
          </div>
          <div class="radio-field">
            <input type="radio" name="accstmnt_conformance" id="accstmnt_conformance_nonconformant" />
            <label for="accstmnt_conformance_nonconformant"><span class="status">Non conformant</span>: <span class="meaning">the content does not conform the accessibility standard</span></label>
          </div>
          <div class="radio-field">
            <input type="radio" name="accstmnt_conformance" id="accstmnt_conformance_unknown" />
            <label for="accstmnt_conformance_unknown"><span class="status">Not assessed</span>: the content has not been assessed or the evaluation results are not available</label>
          </div>
          <div class="radio-field">
            <input type="radio" name="accstmnt_conformance" id="accstmnt_conformance_inapplicable" checked />
            <label for="accstmnt_conformance_inapplicable">None</label>
          </div>
        </fieldset>

        <h3 class="label">Additional requirements <button type="button" class="button-small info-open" aria-expanded="false" aria-controls="info_additional"><span>i</span></button></h3>
        <div class="information" id="info_additional" hidden><p>Sometimes you may be applying requirements additional to those specified in the accessibility standards applied. For example, you may be providing sign language videos or real-time captioning for live media content. Describe these additional accessibility requirements that you have applied, to help users understand what they can expect.</p>
        <p><strong>Example:</strong> “Although our goal is level AA conformance, we have also applied some level AAA success criteria. For example, images of text are only used for decorative purposes. When an authenticated session expires, the user can continue the activity without loss of data after re-authenticating. We added sign language in all our videos.”</p></div>

        <div class="field">
          <label for="accstmt_additions">Additional accessibility requirements applied</label>
          <textarea id="accstmt_additions" rows="3" placeholder="Example: Although our goal is level AA conformance, we have also applied some level AAA success criteria. For example, images of text are only used for decorative purposes. When an authenticated session expires, the user can continue the activity without loss of data after re-authenticating. We added sign language in all our videos."></textarea>
        </div>

        <h3 class="label">Feedback options <button type="button" class="button-small info-open" aria-expanded="false" aria-controls="info_feedback"><span>i</span></button></h3>
        <div class="information" id="info_feedback" hidden><p>Provide information about the ways in which users can get in touch with your organization to provide feedback or to seek help on accessibility aspects. Ideally you should provide more than one option. Also indicate the duration by which users can expect a response from your organization.</p></div>

        <fieldset class="group" id="form-feedback">
        <legend class="visuallyhidden">Feedback</legend>
          <div class="field">
            <label for="accstmnt_contact_phone">Phone us at</label>
            <input type="tel" id="accstmnt_contact_phone" placeholder="Example: +12 34 567 89 00" />
          </div>
          <div class="field">
            <label for="accstmnt_contact_email">E-mail us at</label>
            <input type="email" id="accstmnt_contact_email" placeholder="citylights@example.org" />
          </div>
          <div class="field">
            <label for="accstmnt_contact_visit">Visit us at</label>
            <input type="text" id="accstmnt_contact_visit" placeholder="Main Street 1, 234 Example Ville, Earth" />
          </div>
          <div class="field">
            <label for="accstmnt_contact_write">Write us at</label>
            <input type="text" id="accstmnt_contact_write" placeholder="PO Box 1, 234 Example Ville, Earth" />
          </div>
          <div class="field">
            <label for="accstmnt_contact_social">Twitter at</label>
            <input type="url" id="accstmnt_contact_social" placeholder="Example: @CitylightsIncBAD" />
          </div>
          <div class="field">
            <label for="accstmnt_contact_responsetime">Typical duration for response</label>
            <input type="text" id="accstmnt_contact_responsetime" placeholder="Example: 2 work days" />
          </div>
        </fieldset>

        <h3 class="label">Date of statement <button type="button" class="button-small info-open" aria-expanded="false" aria-controls="info_date"><span>i</span></button></h3>
        <div class="information" id="info_date" hidden><p>Provide a date for the accessibility statement. This is usually the date when the statement was first publish or last updated. This helps users to understand if the statement is being actively maintained or outdated. Ideally the date of a published statement should not exceed one year, otherwise it is commonly considered unmaintained and potentially outdated.</p></div>

        <div class="field">
          <label for="accstmt_date">Date of this accessibility statement</label>
          <input type="date" id="accstmt_date" class="today" />
        </div>
        {% include excol.html type="end" %}

        {% include excol.html type="start" %}
        <h2 id="efforts">Your efforts</h2>
        <p class="intro">In this section you can describe the efforts your organization takes to ensure accessibility. This helps users understand your sincerity and the validity of the claims you make in the statement.</p>

        {% include excol.html type="middle" %}
        <h3 class="label">Organizational measures <button type="button" class="button-small info-open" aria-expanded="false" aria-controls="info_measures"><span>i</span></button></h3>
        <div class="information" id="info_measures" hidden><p>List the measures that your organization undertakes to achieve sustainable accessibility. This includes measures such as procurement actions, training, raising awareness, and quality assurance. Some of these measures are pre-defined for convenience but you can add more as needed.</p></div>

        <fieldset class="group">
          <legend class="visuallyhidden">Measures</legend>
          <ul class="nolist field" id="effort-list">
            <li class="radio-field">
              <input id="accstmnt_orginfo_measures_1" type="checkbox" />
              <label for="accstmnt_orginfo_measures_1">Include accessibility as part of our mission statement.</label>
            </li>
            <li class="radio-field">
              <input id="accstmnt_orginfo_measures_2" type="checkbox" />
              <label for="accstmnt_orginfo_measures_2">Include accessibility throughout our internal policies.</label>
            </li>
            <li class="radio-field">
              <input id="accstmnt_orginfo_measures_3" type="checkbox" />
              <label for="accstmnt_orginfo_measures_3">Integrate accessibility into our procurement practices.</label>
            </li>
            <li class="radio-field">
              <input id="accstmnt_orginfo_measures_4" type="checkbox" />
              <label for="accstmnt_orginfo_measures_4">Appoint an accessibility officer and/or ombudsperson.</label>
            </li>
            <li class="radio-field">
              <input id="accstmnt_orginfo_measures_5" type="checkbox" />
              <label for="accstmnt_orginfo_measures_5">Provide continual accessibility training for our staff.</label>
            </li>
            <li class="radio-field">
              <input id="accstmnt_orginfo_measures_6" type="checkbox" />
              <label for="accstmnt_orginfo_measures_6">Assign clear accessibility targets and responsibilities.</label>
            </li>
            <li class="radio-field">
              <input id="accstmnt_orginfo_measures_7" type="checkbox" />
              <label for="accstmnt_orginfo_measures_7">Employ formal accessibility quality assurance methods.</label>
            </li>
          </ul>

          <div class="field line">
            <label for="accstmnt_orginfo_othermeasures_1">Other measure</label>
            <input type="text" id="accstmnt_orginfo_othermeasures_1" placeholder="We include people with disabilities in our list of personas" />
            <button type="button" class="add-line">
              Add measure
            </button>
          </div>
        </fieldset>
        {% include excol.html type="end" %}

        {% include excol.html type="start" %}
        <h2 id="technical">Technical information</h2>
        <p class="intro">In this section you can provide more technical details to help users understand any issues they may be observing. This includes information about compatibility with web browsers and assistive technologies.</p>
        {% include excol.html type="middle" %}

        <h3 class="label">Limitations <button type="button" class="button-small info-open" aria-expanded="false" aria-controls="info_limitations"><span>i</span></button></h3>
        <div class="information" id="info_measures" hidden><p>There are many situations in which limitations to accessibility can occur, such as ensuring instant accessibility of user-generated content. Providing transparency on these situations helps users to understand any issue they may be observing, and to find alternatives where applicable. Under the EU Web Accessibility Directive, public bodies are required to provide information on the parts of the content that do not conform, the reason for not conforming, and, if applicable, where to find accessible alternatives.</p>
          <p><strong>Example:</strong></p>
          <ul>
            <li><strong>Content part:</strong> User comments (other examples: forms, video, documents, etc.)</li>
            <li><strong>Description of the issue:</strong> User comments and uploaded images may not be accessible.</li>
            <li><strong>Why the issue occurs:</strong> We cannot ensure the quality of such contributions.</li>
            <li><strong>What we are doing about it:</strong> We monitor user comments and plan to repair issues within 2 office working days.</li>
            <li><strong>What to do in the meantime:</strong> Please contact example@e-mail if you encounter an issue.</li>
          </ul>
        </div>

        <fieldset class="group">
          <legend class="visuallyhidden">Limitations</legend>

          <p class="expl">List the parts of the content that are not accessible, a description of the issue, why the issue occurs, and what to do in the mean time, such as who to contact or where to find accessibility alternatives where appropriate.</p>

          <table id="accstmnt_issues" class="dense">
            <thead>
              <tr>
                <th>Content part</th>
                <th>Description of the issue</th>
                <th>Why the issue occurs</th>
                <th>What we are doing about it</th>
                <th>What to do in the meantime</th>
              </tr>
            </thead>
            <tbody>
              <tr class="line">
                <td>
                  <input type="text" id="accstmnt_limitation_1_element" name="element" placeholder="User comments" />
                </td>
                <td>
                  <input type="text" id="accstmnt_limitation_1_description" name="description" placeholder="Not always accessible" />
                </td>
                <td>
                  <input type="text" id="accstmnt_limitation_1_reason" name="reason" placeholder="User generated content" />
                </td>
                <td>
                  <input type="text" id="accstmnt_limitation_1_us" name="us" placeholder="Repair in 2 days" />
                </td>
                <td>
                  <input type="text" id="accstmnt_limitation_1_you" name="you" placeholder="contact us" />
                </td>
              </tr>
            </tbody>
          </table>

          <button type="button" class="add-line">
            Add extra line
          </button>
        </fieldset>

        <h3 class="label">Compatibility with user environment <button type="button" class="button-small info-open" aria-expanded="false" aria-controls="support_asstech"><span>i</span></button></h3>
        <div class="information" id="support_asstech" hidden><p>Despite best efforts, accessibility may not work well in every combination of operating system, web browser, and assistive technology. Developers typically test their websites and mobile applications with common user environments, to determine compatibility. WCAG defines requirements for accessibility features provided by content authors to be <a href="https://www.w3.org/TR/WCAG21/#dfn-accessibility-supported">accessibility supported</a>. Communicating this compatibility expectation helps user to determine if that is the cause for any issues they may be observing.</p>
        <p><strong>Example:</strong> "Browser X with Assistive Technology Y"</p></div>

        <fieldset class="group" id="compatible_tech">
          <legend class="visuallyhidden">Compatibility</legend>

          <p class="expl">Describe the environments (combinations of operating systems, web browsers, and assistive technologies) that the content is expected to work with. These should be in-line with the WCAG definition of <a href="https://www.w3.org/TR/WCAG21/#dfn-accessibility-supported">accessibility supported</a> use of technologies.</p>

          <div class="field line">
            <label for="accstmnt_asstech_1">Environment 1</label>
            <input type="text" id="accstmnt_asstech_1" placeholder="Example: Browser A with Assistive Technology B" />
          </div>
          <div class="field line">
            <label for="accstmnt_asstech_2">Environment 2</label>
            <input type="text" id="accstmnt_asstech_2" placeholder="Example: Browser M with Assistive Technology N" />
          </div>
          <div class="field line">
            <label for="accstmnt_asstech_3">Environment 3</label>
            <input type="text" id="accstmnt_asstech_3" placeholder="Example: Browser X with Assistive Technology Y" />
          </div>
        </fieldset>

        <h3 class="label">Known incompatibility <button type="button" class="button-small info-open" aria-expanded="false" aria-controls="support_incompatible"><span>i</span></button></h3>
        <div class="information" id="support_incompatible" hidden><p>Help users understand what versions of operating systems, web browsers, and assistive technologies are not (or no longer) supported. This helps determine if they can use your website or mobile application with their current environments.</p>
        <p><strong>Example:</strong> Website: “We do not actively support web browsers older than 3 major versions”. Mobile application: “We do not actively support operating systems older than 5 years”.</p></div>

        <fieldset class="group" id="incompatible_tech">
          <legend class="visuallyhidden">Incompatibility</legend>

          <p class="expl">Describe the environments (combinations of operating systems, web browsers, and assistive technologies) that the content is not expected to work with.</p>

          <p class="expl">Describe (combinations of) operating systems, web browsers, assistive technologies, and other user agents that the content is not expected to work with.</p>

          <div class="field line">
            <label for="accstmnt_incompatible_tech_1">Environment 1</label>
            <input type="text" id="accstmnt_othertech_1" />
          </div>
          <div class="field proto">
            <label for="accstmnt_incompatible_tech_[n]">Environment [n]</label>
            <input type="text" id="accstmnt_othertech_[n]" />
          </div>

          <button type="button" class="add-line">
            Add environment
          </button>
        </fieldset>

        <h3 class="label">Technologies used <button type="button" class="button-small info-open" aria-expanded="false" aria-controls="support_tech"><span>i</span></button></h3>
        <div class="information" id="support_tech" hidden><p>You may be relying on specific web technologies, such as JavaScript, WAI-ARIA, or SVG to ensure accessibility of your content. Communicating this expectation in the accessibility statement can help users to understand the reason for issues they may be observing. For example, the accessibility features may not work because the user has JavaScript turned off in their browser. See <a href="https://www.w3.org/TR/WCAG21/#cc4">WCAG 2 conformance requirement 4</a> on accessibility supported was of using technologies relied upon.</p></div>

        <p class="expl">Describe the technologies that are relied upon for conformance. The content would not conform if that technology is turned off or is not supported.</p>

        <fieldset class="field">
          <legend class="label">Relied upon:</legend>

          <ul id="tech_relied" class="input-cols nolist">
            <li class="radio-field">
              <input type="checkbox" id="accstmnt_tech_html" />
              <label for="accstmnt_tech_html">HTML</label>
            </li>

            <li class="radio-field">
              <input type="checkbox" id="accstmnt_tech_aria" />
              <label for="accstmnt_tech_aria">WAI-ARIA</label>
            </li>

            <li class="radio-field">
              <input type="checkbox" id="accstmnt_tech_css" />
              <label for="accstmnt_tech_css">CSS</label>
            </li>

            <li class="radio-field">
              <input type="checkbox" id="accstmnt_tech_js" />
              <label for="accstmnt_tech_js">Javascript</label>
            </li>

            <li class="radio-field">
              <input type="checkbox" id="accstmnt_tech_smil" />
              <label for="accstmnt_tech_smil">SMIL</label>
            </li>
          </ul>

          <div class="field">
            <label for="accstmnt_tech_other">Other technology</label>
            <input type="text" id="accstmnt_tech_other" />
          </div>
        </fieldset>

        <h3 class="label">Related evidence <button type="button" class="button-small info-open" aria-expanded="false" aria-controls="support_related"><span>i</span></button></h3>
        <div class="information" id="support_related" hidden><p>To back the claims made in your accessibility statement and to provide transparency, you can provide links to the outcomes from accessibility evaluation. While the details of such evaluation reports and evaluation statements are generally more technical for the average user, they can help demonstrate good practice and confidence.</p></div>

        <div class="field">
          <label for="accstmnt_audit_url">Link to recent evaluation report
            <button type="button" class="button-small info-open" aria-expanded="false" aria-controls="info_audit_url"><span>i</span></button>
          </label>

          <div class="information" id="info_audit_url" hidden><p>An evaluation report provides details on which accessibility requirements are met, and which were not. It supports your accessibility statements in many ways, including helping users to identify the source of issues they may be observing and to add transparency and credibility to the statements that you make. You can use the <a href="https://www.w3.org/WAI/eval/report-tool/">WCAG-EM Evaluation Report Tool</a> to create an evaluation report. Place the link to the report here.</p>
          <p><strong>Example:</strong> “https://www.w3.org/WAI/demos/bad/after/reports/”</p></div>

          <input type="url" id="accstmnt_audit_url" placeholder="https://www.w3.org/WAI/demos/bad/after/reports/" />
        </div>

        <div class="field">
          <label for="accstmnt_audit_wcagem">Link to evaluation statement <button type="button" class="button-small info-open" aria-expanded="false" aria-controls="info_audit_statement"><span>i</span></button></label>

          <div class="information" id="info_audit_statement" hidden><p>An evaluation statement summarizes the essential outcomes from formal audits, such as those carried out according to the <a href="https://www.w3.org/TR/WCAG-EM/">Website Accessibility Conformance Evaluation Methodology (WCAG-EM)</a>. Requirements for a WCAG-EM evaluation statement are defined in <a href="https://www.w3.org/TR/WCAG-EM/#step5c">Step 5.c</a> of the process. This can be provided in place or in addition to the evaluation report provided above. Place the link to your evaluation statement here.</p></div>

          <input type="url" id="accstmnt_audit_wcagem" placeholder="https://www.w3.org/WAI/demos/bad/after/reports/" />
        </div>

        {% include excol.html type="end" %}

        {% include excol.html type="start" %}
        <h2 id="approval">Approval and complaints process</h2>
        <p class="intro">In this section, you can add information about the formal approval of this accessibility statement and, if applicable, any complaints escalation procedure.</p>
        {% include excol.html type="middle" %}

        <h3 class="label">Formal approval <button type="button" class="button-small info-open" aria-expanded="false" aria-controls="org_approved"><span>i</span></button></h3>
        <div class="information" id="org_approved" hidden><p>Your organization may want to formally approve this accessibility statement, for example for internal purposes or to show users that this is part of the corporate policy.</p>
        <p><strong>Example:</strong></p>
          <ul>
            <li><strong>Organization:</strong> Citylights</li>
            <li><strong>Name / Department:</strong> Communication Department</li>
            <li><strong>Function:</strong> Director of communication</li>
          </ul>
        </div>

        <fieldset class="group">
          <legend class="visuallyhidden">Approval</legend>

          <div class="field">
            <label for="accstmnt_orginfo_approved_org">Name of your organization</label>
            <input type="text" id="accstmnt_orginfo_approved_org"  placeholder="Example: Citylights Inc" />
          </div>

          <div class="field">
            <label for="accstmnt_orginfo_approved_name">Name of person or department</label>
            <input type="text" id="accstmnt_orginfo_approved_name" placeholder="Communication Department" />
          </div>

          <div class="field">
            <label for="accstmnt_orginfo_approved_function">Function</label>
            <input type="text" id="accstmnt_orginfo_approved_function" placeholder="Director of Communication" />
          </div>
        </fieldset>

        <h3 class="label">Formal complaints <button type="button" class="button-small info-open" aria-expanded="false" aria-controls="info_complaints"><span>i</span></button></h3>
        <div class="information" id="info_complaints" hidden><p>In some situations, you want or be required to provide formal complaints procedures. For example, a quality management process within your organization may require you to establish a formal complaints procedure with clear escalation paths. The <a href="https://eur-lex.europa.eu/eli/dir/2016/2102/oj">EU Web Accessibility Directive {% include_cached external.html %}</a> foresees EU countries to have legal 'enforcement procedures' when users are not satisfied with the responses from public bodies. Inform users about any such formal complaints procedures. This may also motivate them to provide you with valuable feedback about the accessibility of your content.</p>
        <p><strong>Example:</strong> "We aim to respond to accessibility complaints within 2 working days, and to propose a solution within 10 working days. You are entitled to escalate a complaint to [organizational or legal entity], should you be dissatisfied with our response to you."</p></div>

        <div class="field">
          <label for="accstmt_complaints">Describe any formal complaints procedures</label>

          <textarea id="accstmt_complaints" rows="3" placeholder="Example: We aim to respond within 10 working days. Should you be dissatisfied with our response, you can file a complaint with [organizational or legal entity]"></textarea>
        </div>
        {% include excol.html type="end" %}

        <div class="action">
          <button type="button" id="accstmnt_btn_preview">
            Preview
          </button>
        </div>
      </form>
    </div>
  </section>

  <section class="page preview" hidden>
    <div class="container proto" hidden>
      <h2>Accessibility Statement for [accstmt_namesite]</h2>

      <p>[accstmt_org] is committed to ensuring digital accessibility for people with disabilities. We are continually improving the user experience for everyone, and applying the relevant accessibility standards.</p>

      <div id="statement-measures-block">
        <h3>Measures taken</h3>
        <p>We took the following measures:</p>
        <ul id="statement-measures"></ul>
      </div>

      <div id="statement-conformance">
        <h3>Conformance status</h3>
        <p>The Web Content Accessibility Guidelines (WCAG) have three conformance levels (A, AA and AAA). These guidelines provide criteria to make web content more accessible for everyone, including for people with disabilities. [accstmt_url] is [conformance_status] with the WCAG [accstmnt_standard_version] [accstmnt_standard_level] standard. [conformance_status] means that [conformance_meaning].</p>
      </div>

      <div id="statement-additions" class="conditional" data-if="accstmt_additions">
        <h4>Additions to the requirements</h4>
        <p>[accstmt_additions]</p>
      </div>

      <h3>Feedback</h3>
      <p>We welcome your feedback on the accessibility of this website/mobile application. If you find anything on this website/mobile application difficult to use, contact us via:</p>

      <ul id="statement-feedback"></ul>

      <p class="conditional" data-if="accstmnt_contact_responsetime">We will try to answer your feedback within [accstmnt_contact_responsetime] office working days.</p>

      <div id="statement-conftech">
        <h3>Technical specifications</h3>

        <p>The technologies this website uses may affect the usability of the website. This also depends on the combination of assistive technologies, browsers and plugins that are used. We used the following technologies to measure the accessibility of this website:</p>

        <ul id="statement-tech"></ul>

        <p>These technologies are relied upon for conformance.</p>
      </div>

      <div id="statement-asstech">
        <h4>Compatibility with browsers and assistive technology</h4>
        <div id="statement-asstech-compatible-block">
          <p>The website is designed to be compatible with the following assistive technologies:</p>
          <ul id="statement-asstech-compatible"></ul>
        </div>

        <div id="statement-asstech-incompatible-block">
          <p>The website is not compatible with:</p>
          <ul id="statement-asstech-incompatible"></ul>
        </div>
      </div>

      <div id="statement-limitations-block">
        <h3>Limitations and alternatives</h3>
        <p>Depending on the combinations of browsers, plugins and assistive technology, you may still experience issues with the use of this website/mobile application. In some cases, we are working on solutions for know issues. Please try the solutions provided below or if you experience that this list is not complete, contact us.</p>

        <ul id="statement-limitations"></ul>
      </div>

      <div class="conditional" data-if="accstmnt_audit_url">
        <h3>Audit results</h3>
        <p>The latest audit results for this website are available at: <a href="[accstmnt_audit_url]">[accstmnt_audit_url]</a>.</p>
      </div>

      <div class="conditional" data-if="accstmnt_audit_wcagem">
        <h3>Evaluation statement</h3>
        <p>An evaluation statement is available at: <a href="[accstmnt_audit_wcagem]">[accstmnt_audit_wcagem]</a>.</p>
      </div>

      <div id="statement-approval-block">
        <h3>Formal approval of this accessibility statement</h3>

        <p>This Accessibility Statement is approved by:</p>
        <p>[accstmnt_orginfo_approved_org]<br/>
          [accstmnt_orginfo_approved_name]<br/>
          [accstmnt_orginfo_approved_function]
        </p>
      </div>

      <div class="conditional" data-if="accstmt_complaints">
        <h3>Enforcement procedure</h3>
        <p>[accstmt_complaints]</p>
      </div>

      <hr noshade />

      <p>This statement was last updated on [accstmt_date].</p>
    </div>

    <div class="container result"></div>
  </section>
</div>

<script src="{{ "/content-images/wai-statements/statements.js" | relative_url}}"></script>
