---
title: "Accessibility Statements"
permalink: /planning/statements/
github:
  repository: w3c/wai-statements
footer: >
  <p><strong>Status:</strong> DRAFT Updated $date$.</p>
  <p><strong>Editors:</strong> <a href="https://www.w3.org/People/shadi">Shadi Abou-Zahra</a>, Eric Velleman, Sanne Eendebak, Martijn Frazer, and Leon Baauw.</p>
  <p>Developed by the <a href="https://www.w3.org/WAI/EO/">Education and Outreach Working Group (EOWG)</a>. Developed as part of the <a href="https://www.w3.org/WAI/Tools/">WAI-Tools project</a>, co-funded by the European Commission. <a href="./acknowledgements/">Acknowledgements</a>.</p>
external_css: /content-images/wai-statements/statements.css
---
<div id="accstatement">
  <section class="page acchome" hidden>
    <div class="container">

  {% include box.html type="start" title="Summary" class="" %}
      <p>This tool helps you create an accessibility statement for your own website, mobile application, or other digital content. You can download the statement you created, and further customize, style, and brand it. Read more below about accessibility statements or <a href="#create">create your statement</a>.</p>
  {% include box.html type="end" %}

  {% include excol.html type="all" %}

  {% include excol.html type="start" %}
      <h2>Why provide an accessibility statement</h2>

  {% include excol.html type="middle" %}
      <p>Accessibility statements are important for several reasons:</p>
      <ul>
        <li>Show your users that you care about accessibility and about them</li>
        <li>Provide them with information about the accessibility of your content</li>
        <li>Demonstrate commitment to accessibility, and to social responsibility</li>
      </ul>
      <p>In some situations, you may be required to provide an accessibility statement, such as public bodies in countries that implement the <a href="https://eur-lex.europa.eu/eli/dir/2016/2102/oj">EU Web Accessibility Directive {% include_cached external.html %}</a>. The W3C list of <a href="https://www.w3.org/WAI/policies/">Web Accessibility Laws &amp; Policies</a> can help you identify policies applicable to you. </p>
  {% include excol.html type="end" %}

  {% include excol.html type="start" %}
      <h2>What to include in an accessibility statement</h2>

  {% include excol.html type="middle" %}
      <p>Accessibility statements should contain at least the following:</p>
      <ul>
        <li>A commitment to accessibility for people with disabilities</li>
        <li>The accessibility standard applied, such as <a href="{{ "/standards-guidelines/wcag/" | relative_url }}">WCAG 2.1</a></li>
        <li>Contact information in case users encounter problems</li>
        <li>Any known limitations, to avoid frustration of your users</li>
      </ul>
      <p>It is also advisable to include the following information:</p>
      <ul>
        <li>Measures taken by your organization to ensure accessibility</li>
        <li>Technical prerequisites, such as supported web browsers</li>
        <li>Environments in which the content has been tested to work</li>
        <li>References to applicable national or local laws and policies</li>
      </ul>
      <p>Note that in some situations you may be required to provide particular content in your accessibility statements. For example, the <a href="https://eur-lex.europa.eu/eli/dir/2016/2102/oj">EU Web Accessibility Directive {% include_cached external.html %}</a> requires public bodies to list the parts of the content that are not accessible, an explanation of why they are not accessible, and where possible accessible alternatives for the content (Article 7(1.a)).</p>
  {% include excol.html type="end" %}

  {% include excol.html type="start" %}
      <h2>How to write an accessibility statement</h2>

  {% include excol.html type="middle" %}
      <p>Accessibility statements are primarily for users of your content. Usually they will access the statements when they encounter problems. Technical and jurisdictional language will likely lead to confusion and increase the frustration rather than help your users. It is important to write in simple language, and to provide information that is useful to the users, rather than to the developers or the lawyers.</p>
      <p>In particular, accessibility statements should explain functionality and known limitations in common terms. For example, rather than to say “WCAG Success Criterion 1.2.2 was not met”, it is better to say “videos do not have captions”. Accessibility statements are not technical assessments or declarations of conformity, though they will ideally refer to these to provide verification and increase credibility.</p>
  {% include excol.html type="end" %}

  {% include excol.html type="start" %}
      <h2>Where to put an accessibility statement</h2>

  {% include excol.html type="middle" %}
      <p>Accessibility statements should be easy to find. Linking them from several places, such as from the footer, help menu, sitemap, and others relevant content areas will help. Also linking and naming them consistently across the pages of your website, and across websites and mobile applications that share a common “look and feel”, supports findability.</p>
  {% include excol.html type="end" %}

  {% include excol.html type="start" %}
      <h2>Examples of accessibility statements</h2>

  {% include excol.html type="middle" %}
      <p>The following examples were created using this accessibility statements generator:</p>
      <ul>
        <li><a href="./example-statement1.html">Accessibility statement for the “Before” section of the “Before and After Demo (BAD)”</a></li>
        <li><a href="./example-statement2.html">Accessibility statement for the “After” section of the “Before and After Demo (BAD)”</a></li>
        <li><a href="./example-statement3.html">Accessibility statement for the entire content of the “Before and After Demo (BAD)”</a></li>
      </ul>
  {% include excol.html type="end" %}

      <p><a href="#create" class="button" style="margin-top: 2rem;">Create your statement</a></p>
    </div>
  </section>

  <section class="page create" hidden>
    <div class="container">

  {% include box.html type="start" title="Summary" class="" %}
      <p>The tool consists of four parts. The first part is where you provide basic information necessary for an accessibility statement. In the other parts, you can add supportive information for users, links to related documents and organizational measures.</p>
  {% include box.html type="end" %}

      {% include excol.html type="all" %}

      <form>
        {% include excol.html type="start" open="true" %}
          <h2>Basic information</h2>
        {% include excol.html type="middle" %}
            <p class="intro">This section includes the minimal set of information recommended for an accessibility statement. It includes information about your organization, the accessibility standard you applied, and contact information for feedback.</p>

            <div class="field">
              <label for="accstmt_org">Name of your organization</label>
              <input type="text" id="accstmt_org" placeholder="Example: Citylights Inc."  />
            </div>

            <div class="field">
              <label for="accstmt_url">Web address of your website or app
                <button type="button" class="info-open" aria-expanded="false" aria-controls="info_url"><span>i</span></button></label>

              <div class="information" id="info_url" hidden><p>Provide the web address of the website or mobile application that is the subject of this accessibility statement. This includes version information and the release date, if necessary to recognize a specific version. For mobile applications this could include a link to the place where the app can be downloaded or installed.</p>
              <p><strong>Example:</strong> website: "https://www.w3.org/WAI/demos/bad/after/". Mobile application: "[link to the app] (version 1.2.3)".</p></div>


              <input type="text" id="accstmt_url" placeholder="Example: https://www.w3.org/WAI/demos/bad/after/home.html" />
            </div>

            <div class="field">
              <label for="accstmt_namesite">Name of your website or mobile application <button type="button" class="info-open" aria-expanded="false" aria-controls="info_namesite"><span>i</span></button></label>

              <div class="information" id="info_namesite" hidden><p>If you provide a name for your website or mobile application, the generator can make this name a link to the website or mobile application. This will improve the readability of your accessibility statement. </p>
              <p><strong>Example:</strong> website: "Citylights website". Mobile application: "CitylightsApp".</p></div>

              <input type="text" id="accstmt_namesite" placeholder="Example: Citylights website or CitylightsApp" />
            </div>

            <div class="field">
              <h3 class="label">Accessibility standards applied <button type="button" class="info-open" aria-expanded="false" aria-controls="info_standards"><span>i</span></button></h3>

              <div class="information" id="info_standards" hidden><p>State the accessibility standard that you have been aiming to apply. Usually this is the <a href="https://www.w3.org/WAI/standards-guidelines/wcag/">W3C Web Content Accessibility Guidelines (WCAG)</a> 2.0 Level AA, but may also be the latest version WCAG 2.1.</p></div>

              <p class="expl">Which version and level of WCAG has been applied to the website?</p>

              <fieldset class="radio-group" id="standard-version">
                <legend>Version</legend>
                <input type="checkbox" name="accstmnt_standard_version" id="accstmnt_standard_version_20" />
                <label for="accstmnt_standard_version_20">2.0</label>

                <input type="checkbox" name="accstmnt_standard_version" id="accstmnt_standard_version_21" />
                <label for="accstmnt_standard_version_21">2.1</label>
              </fieldset>

              <fieldset class="radio-group" id="standard-level">
                <legend>Level</legend>
                <input type="checkbox" name="accstmnt_standard_level" id="accstmnt_standard_level_a" />
                <label for="accstmnt_standard_level_a">A</label>

                <input type="checkbox" name="accstmnt_standard_level" id="accstmnt_standard_level_aa" />
                <label for="accstmnt_standard_level_aa">AA</label>

                <input type="checkbox" name="accstmnt_standard_level" id="accstmnt_standard_level_aaa" />
                <label for="accstmnt_standard_level_aaa">AAA</label>
              </fieldset>
            </div>

            <fieldset class="field" id="conformance-status">
              <legend class="label">Conformance status</legend>
              <p class="expl">Describe the current conformance status.</p>

              <div class="radio-field">
                <input type="radio" name="accstmnt_conformance" id="accstmnt_conformance_inapplicable" checked />
                <label for="accstmnt_conformance_inapplicable">None</label>
              </div>
              <div class="radio-field">
                <input type="radio" name="accstmnt_conformance" id="accstmnt_conformance_full" />
                <label for="accstmnt_conformance_full"><span class="status">fully conformant</span>: <span class="meaning">the content fully meets the standard  without any exceptions</span></label>
              </div>
              <div class="radio-field">
                <input type="radio" name="accstmnt_conformance" id="accstmnt_conformance_partial" />
                <label for="accstmnt_conformance_partial"><span class="status">partially conformant</span>: <span class="meaning">Some parts of the content do not fully meet the standard</span></label>
              </div>
              <div class="radio-field">
                <input type="radio" name="accstmnt_conformance" id="accstmnt_conformance_nonconformant" />
                <label for="accstmnt_conformance_nonconformant"><span class="status">non conformant</span>: <span class="meaning">the content does not meet the standard</span></label>
              </div>
              <div class="radio-field">
                <input type="radio" name="accstmnt_conformance" id="accstmnt_conformance_unknown" />
                <label for="accstmnt_conformance_unknown"><span class="status">not assessed</span>: the content has not been assessed or the evaluation results are not available</label>
              </div>
            </fieldset>

            <div class="field">
              <label for="accstmt_additions">Additions to the requirements <button type="button" class="info-open" aria-expanded="false" aria-controls="info_additions"><span>i</span></button></label>

              <div class="information" id="info_additions" hidden><p>In some cases, you may have gone beyond the minimal conformance target, to provide better accessibility and a higher user experience. Describe these additional accessibility requirements that you have implemented, to help users understand what they can expect.</p>
              <p><strong>Example:</strong> “Although our goal is level AA conformance, we have also applied some level AAA success criteria. For example, images of text are only used for decorative purposes. When an authenticated session expires, the user can continue the activity without loss of data after re-authenticating. We added sign language in all our videos.”</p></div>

              <p class="expl">List any additional requirements that you implemented beyond the conformance level.</p>

              <textarea id="accstmt_additions" rows="3"></textarea>
            </div>

            <fieldset class="group" id="form-feedback">
              <legend>Feedback</legend>

              <p class="expl">Provide contact information so that users can ask questions or give feedback regarding accessibility related issues. Provide at least one of the options.</p>

              <div class="field">
                <label for="accstmnt_contact_phone">Phone us at</label>
                <input type="tel" id="accstmnt_contact_phone" placeholder="Example: +31 30 239 82 70" />
              </div>
              <div class="field">
                <label for="accstmnt_contact_email">E-mail us at</label>
                <input type="email" id="accstmnt_contact_email" placeholder="Write email address here" />
              </div>
              <div class="field">
                <label for="accstmnt_contact_visit">Visit us at</label>
                <input type="text" id="accstmnt_contact_visit" placeholder="Write your visitors address here" />
              </div>
              <div class="field">
                <label for="accstmnt_contact_write">Write us at</label>
                <input type="text" id="accstmnt_contact_write" placeholder="Write your mailbox address here" />
              </div>
              <div class="field">
                <label for="accstmnt_contact_social">Twitter at</label>
                <input type="url" id="accstmnt_contact_social" placeholder="Example: @CitylightsIncBAD" />
              </div>
              <div class="field">
                <label for="accstmnt_contact_responsetime">Office working days we try to answer the feedback</label>
                <input type="text" id="accstmnt_contact_responsetime" placeholder="Example: 2" />
              </div>
            </fieldset>
<!-- Ingevoegd_EV -->
            <fieldset class="group" id="accstmt_date_group">
              <legend>Date</legend>
<!-- Ingevoegd_EV -->
            <div class="field">
              <label for="accstmt_date">Date of this accessibility statement</label>
              <input type="date" id="accstmt_date" class="today" />
            </div>
<!-- Ingevoegd_EV -->
            </fieldset>
<!-- Ingevoegd_EV -->
        {% include excol.html type="end" %}

        {% include excol.html type="start" %}
                <h3>Your efforts</h3>
        {% include excol.html type="middle" %}

            <p class="intro">Describe the efforts your organization takes with respect to meeting the standards and to ensuring accessibility for people with disabilities.</p>

            <fieldset class="group">
              <legend>Organizational measures</legend>

              <p class="expl">Select the measures you implemented to achieve sustainable accessibility, such as procurement actions, training, raising awareness, or quality assurance.</p>

              <ul class="nolist field" id="effort-list">
                <li class="radio-field">
                  <input id="accstmnt_orginfo_measures_1" type="checkbox" />
                  <label for="accstmnt_orginfo_measures_1">Include accessibility as part of our mission statement.</label>
                </li>
                <li class="radio-field">
                  <input id="accstmnt_orginfo_measures_2" type="checkbox" />
                  <label for="accstmnt_orginfo_measures_2">Include accessibility throughout our internal policies.</label>
                </li>
                <li class="radio-field">
                  <input id="accstmnt_orginfo_measures_3" type="checkbox" />
                  <label for="accstmnt_orginfo_measures_3">Integrate accessibility into our procurement practices.</label>
                </li>
                <li class="radio-field">
                  <input id="accstmnt_orginfo_measures_4" type="checkbox" />
                  <label for="accstmnt_orginfo_measures_4">Appoint an accessibility officer and/or ombudsperson.</label>
                </li>
                <li class="radio-field">
                  <input id="accstmnt_orginfo_measures_5" type="checkbox" />
                  <label for="accstmnt_orginfo_measures_5">Provide continual accessibility training for our staff.</label>
                </li>
                <li class="radio-field">
                  <input id="accstmnt_orginfo_measures_6" type="checkbox" />
                  <label for="accstmnt_orginfo_measures_6">Assign clear accessibility targets and responsibilities.</label>
                </li>
                <li class="radio-field">
                  <input id="accstmnt_orginfo_measures_7" type="checkbox" />
                  <label for="accstmnt_orginfo_measures_7">Employ formal accessibility quality assurance methods.</label>
                </li>
              </ul>
            </fieldset>

              <br/>

            <fieldset class="group" id="accstmnt_orginfo_othermeasures">
                <legend>List other measures you have implemented, different from the ones listed above.</legend>

                <div class="field line">
                  <label for="accstmnt_orginfo_othermeasures_1">Other measure 1</label>
                  <input type="text" id="accstmnt_orginfo_othermeasures_1" placeholder="We include people with disabilities in our list of personas" />
                </div>
                <div class="field proto">
                  <label for="accstmnt_orginfo_othermeasures_[n]">Other measure [n]</label>
                  <input type="text" id="accstmnt_orginfo_othermeasures_[n]" />
                </div>

                <button type="button" class="add-line">
                  Add extra line
                </button>
            </fieldset>
        {% include excol.html type="end" %}

        {% include excol.html type="start" %}
                <h3>Technical information</h3>
        {% include excol.html type="middle" %}
            <p class="intro">By providing the following information you help people with disabilities understand how digital accessibility was measured and where to find accessible alternatives (if applicable).</p>

            <fieldset class="group">
              <legend>Limitations <button type="button" class="info-open" aria-expanded="false" aria-controls="support_limitations"><span>i</span></button></legend>

              <div class="information" id="support_limitations" hidden><p>There are many situations in which limitations to accessibility can occur, such as ensuring instant accessibility of user-generated content. Providing transparency on these situations helps users to understand any issue they may be observing, and to find alternatives where applicable. Under the EU Web Accessibility Directive public bodies may be required to provide such information</p>
              <p><strong>Example</strong>:</p>
                <ul>
                  <li><strong>Element:</strong> User comments (other examples: forms, video, pdf documents, etc)</li>
                  <li><strong>Description of the issue:</strong> User comments and uploaded images may not be accessible.</li>
                  <li><strong>Why the issue occurs:</strong> We cannot ensure the quality of such contributions.</li>
                  <li><strong>What we are doing about it:</strong> We monitor user comments and plan to repair issues within 2 office working days.</li>
                  <li><strong>What to do in the meantime:</strong> Please contact example@e-mail if you encounter an issue.</li>
                </ul>
              </div>

              <p class="expl">Provide an explanation for the parts of the content that are not accessible and where to find accessibility alternatives when they are provided.</p>

              <table id="accstmnt_issues" class="dense">
                <thead>
                  <tr>
                    <th>Element</th>
                    <th>Description</th>
                    <th>Why the issue occurs</th>
                    <th>What we are doing about it</th>
                    <th>What to do in the meantime</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="line">
                    <td>
                      <input type="text" id="accstmnt_limitation_1_element" name="element" placeholder="User comments" />
                    </td>
                    <td>
                      <input type="text" id="accstmnt_limitation_1_description" name="description" placeholder="Not always accessible" />
                    </td>
                    <td>
                      <input type="text" id="accstmnt_limitation_1_reason" name="reason" placeholder="User generated content" />
                    </td>
                    <td>
                      <input type="text" id="accstmnt_limitation_1_us" name="us" placeholder="Repair in 2 days" />
                    </td>
                    <td>
                      <input type="text" id="accstmnt_limitation_1_you" name="you" placeholder="contact us" />
                    </td>
                  </tr>
                  <tr class="proto">
                    <td>
                      <input type="url" id="accstmnt_limitation_[n]_element" name="element" />
                    </td>
                    <td>
                      <input type="text" id="accstmnt_limitation_[n]_description" name="description" />
                    </td>
                    <td>
                      <input type="text" id="accstmnt_limitation_[n]_reason" name="reason" />
                    </td>
                    <td>
                      <input type="text" id="accstmnt_limitation_[n]_us" name="us" />
                    </td>
                    <td>
                      <input type="text" id="accstmnt_limitation_[n]_you" name="you" />
                    </td>
                  </tr>
                </tbody>
              </table>

              <button type="button" class="add-line">
                Add extra line
              </button>
            </fieldset>

            <fieldset class="group">
              <legend>Technologies used <button type="button" class="info-open" aria-expanded="false" aria-controls="support_tech"><span>i</span></button></legend>

              <div class="information" id="support_tech" hidden><p>you may be relying on technologies such as JavaScript, WAI-ARIA,or SVG to ensure accessibility of your content. Provide a list of technologies that are relied upon according to <a href="https://www.w3.org/TR/WCAG20/#conformance-reqs">WCAG 2 conformance requirement 4</a>.</p></div>

              <p class="expl">Describe the technologies that are relied upon for conformance. The content would not conform if that technology is turned off or is not supported.</p>

              <fieldset class="field">
                <legend>Relied upon:</legend>

                <ul id="tech_relied" class="input-cols nolist">
                  <li class="radio-field">
                    <input type="checkbox" id="accstmnt_tech_html" />
                    <label for="accstmnt_tech_html">HTML</label>
                  </li>

                  <li class="radio-field">
                    <input type="checkbox" id="accstmnt_tech_aria" />
                    <label for="accstmnt_tech_aria">WAI-ARIA</label>
                  </li>

                  <li class="radio-field">
                    <input type="checkbox" id="accstmnt_tech_css" />
                    <label for="accstmnt_tech_css">CSS</label>
                  </li>

                  <li class="radio-field">
                    <input type="checkbox" id="accstmnt_tech_pdf" />
                    <label for="accstmnt_tech_pdf">PDF</label>
                  </li>

                  <li class="radio-field">
                    <input type="checkbox" id="accstmnt_tech_js" />
                    <label for="accstmnt_tech_js">Javascript</label>
                  </li>

                  <li class="radio-field">
                    <input type="checkbox" id="accstmnt_tech_smil" />
                    <label for="accstmnt_tech_smil">SMIL</label>
                  </li>
                </ul>

                <div class="field">
                  <label for="accstmnt_tech_other">Other</label>
                  <input type="text" id="accstmnt_tech_other" />
                </div>
              </fieldset>
            </fieldset>

            <fieldset class="group" id="compatible_tech">
              <legend>Compatibility with browsers and assistive technology <button type="button" class="info-open" aria-expanded="false" aria-controls="support_asstech"><span>i</span></button></legend>

              <div class="information" id="support_asstech" hidden><p>WCAG does not pre-define which combinations of features and technologies must be supported as this depends on the particular context of the website, including its language, the web technologies that are used to create the content, and the user agents currently available. Both <a href="https://www.w3.org/TR/WCAG-EM/#step1c">WCAG-EM</a> and <a href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/conformance#uc-accessibility-support-head">Understanding Accessibility Support</a> provide more guidance on the WCAG concept of accessibility support.</p>
              <p><strong>Example:</strong> "NVDA vx.x"</p></div>

              <p class="expl">Describe the minimum (combinations of) operating systems, web browsers, assistive technologies, and other user agents that the website is expected to work with, and that is in-line with the <a href="https://www.w3.org/TR/UNDERSTANDING-WCAG20/conformance#uc-accessibility-support-head">WCAG 2.0 guidance on accessibility support</a>.</p>

              <div class="field line">
                <label for="accstmnt_asstech_1">Technology 1</label>
                <input type="text" id="accstmnt_asstech_1" placeholder="Example: NVDA version X" />
              </div>
              <div class="field line">
                <label for="accstmnt_asstech_2">Technology 2</label>
                <input type="text" id="accstmnt_asstech_2" placeholder="Example: iOS version X" />
              </div>
              <div class="field line">
                <label for="accstmnt_asstech_3">Technology 3</label>
                <input type="text" id="accstmnt_asstech_3" placeholder="Works best in browser / OS version X" />
              </div>
              <div class="field proto">
                <label for="accstmnt_asstech_[n]">Other technology</label>
                <input type="text" id="accstmnt_asstech_[n]" />
              </div>
              <button type="button" class="add-line">
                Add extra line
              </button>
            </fieldset>

            <fieldset class="group" id="incompatible_tech">
              <legend>Not compatible with <button type="button" class="info-open" aria-expanded="false" aria-controls="support_incompatible"><span>i</span></button></legend>

              <div class="information" id="support_incompatible" hidden><p>Help users understand what versions of operating systems, web browsers, assistive technologies, and other user agents are not (or no longer) supported. This helps determine if they can use your website or mobile application.</p>
              <p><strong>Example:</strong> Website: “We do not actively support web browsers older than 3 major versions”. Mobile application: “We do not actively support operating systems older than 5 years”.</p></div>

              <p class="expl">Describe (combinations of) operating systems, web browsers, assistive technologies, and other user agents that the content is not expected to work with.</p>

              <div class="field line">
                <label for="accstmnt_incompatible_tech_1">Technology 1</label>
                <input type="text" id="accstmnt_othertech_1" />
              </div>
              <div class="field proto">
                <label for="accstmnt_incompatible_tech_[n]">Technology [n]</label>
                <input type="text" id="accstmnt_othertech_[n]" />
              </div>

              <button type="button" class="add-line">
                Add extra line
              </button>
            </fieldset>


          <div class="field">
              <label for="accstmnt_audit_url">Link to recent audit results
                <button type="button" class="info-open" aria-expanded="false" aria-controls="info_audit_url"><span>i</span></button>
              </label>

              <div class="information" id="info_audit_url" hidden><p>An audit report provides details on which accessibility requirements are met, and which were not. It supports your accessibility statements in many ways, including helping people to identify the source of issues they may be observing and to add transparency and credibility to the statements that you make.You can use the WCAG Evaluation Report tool to create an audit report. Place the link to the report here.</p>
              <p><strong>Example:</strong> “https://www.w3.org/WAI/demos/bad/after/reports/”</p></div>

              <input type="url" id="accstmnt_audit_url" placeholder="https://www.w3.org/WAI/demos/bad/after/reports/" />
            </div>

            <div class="field">
              <label for="accstmnt_audit_wcagem">Link to evaluation statement
                <button type="button" class="info-open" aria-expanded="false" aria-controls="info_audit_statement"><span>i</span></button>
              </label>

              <div class="information" id="info_audit_statement" hidden><p>Please find requirements for a WCAG-EM evaluation statement at <a href="https://www.w3.org/TR/WCAG-EM/#step5c">https://www.w3.org/TR/WCAG-EM/#step5c</a>. Place the link to your statement here.</p></div>

              <input type="url" id="accstmnt_audit_wcagem" placeholder="https://www.w3.org/WAI/demos/bad/after/reports/" />
            </div>


        {% include excol.html type="end" %}

        {% include excol.html type="start" %}
                <h3>Approval and complaints process</h3>
        {% include excol.html type="middle" %}
            <p class="intro">In this section, you can add information about the formal approval of this accessibility statement and the complaints procedure (if available).</p>

            <fieldset class="group">
              <legend>Formal approval of this accessibility statement <button type="button" class="info-open" aria-expanded="false" aria-controls="org_approved"><span>i</span></button></legend>

              <div class="information" id="org_approved" hidden><p>Your organization may want to formally approve this statement for internal purposes or to show users that this is part of your corporate policy.</p>
              <p><strong>Example:</strong></p>
                <ul>
                  <li><strong>Organization:</strong> Citylights</li>
                  <li><strong>Name / Department:</strong> Communication Department</li>
                  <li><strong>Function:</strong> Director of communication</li>
                </ul>
              </div>

              <div class="field">
                <label for="accstmnt_orginfo_approved_org">Name of your organization</label>
                <input type="text" id="accstmnt_orginfo_approved_org"  placeholder="Example: Citylights Inc" />
              </div>

              <div class="field">
                <label for="accstmnt_orginfo_approved_name">Name of person or department</label>
                <input type="text" id="accstmnt_orginfo_approved_name" placeholder="Communication Department" />
              </div>

              <div class="field">
                <label for="accstmnt_orginfo_approved_function">Function</label>
                <input type="text" id="accstmnt_orginfo_approved_function" placeholder="Director of Communication" />
              </div>
            </fieldset>

            <div class="field">
              <label for="accstmt_complaints">Enforcement procedure <button type="button" class="info-open" aria-expanded="false" aria-controls="info_complaints"><span>i</span></button></label>

              <div class="information" id="info_complaints" hidden><p>Inform users about your feedback procedure. This may motivate them to provide you with valuable feedback about the accessibility of your website or mobile application.</p>
              <p><strong>Example:</strong> "We aim to respond to accessibility complaints within 2 working days, and to propose a solution within 10 working days. You are entitled to escalate a complaint to [organizational or legal entity], should you be dissatisfied with our response to you."</p></div>

              <textarea id="accstmt_complaints" rows="3" placeholder="Example: We aim to respond within 10 working days. Should you be dissatisfied with our response, you can file a complaint with [organizational or legal entity]"></textarea>
            </div>
        {% include excol.html type="end" %}

        <div class="action button-group">
          <button type="button" id="accstmnt_btn_preview">
            Preview
          </button>

        </div>
      </form>
    </div>
  </section>

  <section class="page preview" hidden>
    <div class="container proto" hidden>
      <p>Note: In most browser, you can go back to your input by using the back-button</p>
      
      <h2>Accessibility Statement for [accstmt_namesite]</h2>

      <p>[accstmt_org] is committed to ensuring digital accessibility for people with disabilities. We are continually improving the user experience for everyone, and applying the relevant accessibility standards.</p>

      <div id="statement-measures-block">
        <h3>Measures taken</h3>
        <p>We took the following measures:</p>
        <ul id="statement-measures"></ul>
      </div>

      <div id="statement-conformance">
        <h3>Conformance status</h3>
        <p>The Web Content Accessibility Guidelines (WCAG) have three conformance levels (A, AA and AAA). These guidelines provide criteria to make web content more accessible for everyone, including for people with disabilities. </p>
        <p>[accstmt_url] is [conformance_status] with the WCAG [accstmnt_standard_version] [accstmnt_standard_level] standard. [conformance_status] means that [conformance_meaning].</p>
      </div>

      <div id="statement-additions" class="conditional" data-if="accstmt_additions">
        <h4>Additions to the requirements</h4>
        <p>[accstmt_additions]</p>
      </div>

      <h3>Feedback</h3>
      <p>We welcome your feedback on the accessibility of this website/mobile application. If you find anything on this website/mobile application difficult to use, contact us via:</p>

      <ul id="statement-feedback"></ul>

      <p class="conditional" data-if="accstmnt_contact_responsetime">We will try to answer your feedback within [accstmnt_contact_responsetime] office working days.</p>

      <div id="statement-conftech">
        <h3>Technical specifications</h3>

        <p>The technologies this website uses may affect the usability of the website. This also depends on the combination of assistive technologies, browsers and plugins that are used. We used the following technologies to measure the accessibility of this website:</p>

        <ul id="statement-tech"></ul>

        <p>These technologies are relied upon for conformance.</p>
      </div>

      <div id="statement-asstech">
        <h3>Compatibility with browsers and assistive technology</h3>
        <div id="statement-asstech-compatible-block">
          <p>The website is designed to be compatible with the following assistive technologies:</p>
          <ul id="statement-asstech-compatible"></ul>
        </div>

        <div id="statement-asstech-incompatible-block">
          <p>The website is not compatible with:</p>
          <ul id="statement-asstech-incompatible"></ul>
        </div>
      </div>

      <div id="statement-limitations-block">
        <h3>Limitations and alternatives</h3>
        <p>Depending on the combinations of browsers, plugins and assistive technology, you may still experience issues with the use of this website/mobile application. In some cases, we are working on solutions for know issues. Please try the solutions provided below or if you experience that this list is not complete, contact us.</p>

        <ul id="statement-limitations"></ul>
      </div>

      <div class="conditional" data-if="accstmnt_audit_url">
        <h3>Audit results</h3>
        <p>The latest audit results for this website are available at: <a href="[accstmnt_audit_url]">[accstmnt_audit_url]</a>.</p>
      </div>

      <div class="conditional" data-if="accstmnt_audit_wcagem">
        <h3>Evaluation statement</h3>
        <p>An evaluation statement is available at: <a href="[accstmnt_audit_wcagem]">[accstmnt_audit_wcagem]</a>.</p>
      </div>

      <div id="statement-approval-block">
        <h3>Formal approval of this accessibility statement</h3>

        <p>This Accessibility Statement is approved by:</p>
        <p>[accstmnt_orginfo_approved_org]<br/>
          [accstmnt_orginfo_approved_name]<br/>
          [accstmnt_orginfo_approved_function]
        </p>
      </div>

      <div class="conditional" data-if="accstmt_complaints">
        <h3>Enforcement procedure</h3>
        <p>[accstmt_complaints]</p>
      </div>

      <hr noshade />

      <p>This statement was last updated on [accstmt_date].</p>
    </div>

    <div class="container result"></div>
  </section>
</div>

<script src="{{ "/content-images/wai-statements/statements.js" | relative_url}}"></script>
