---
title: "Example of Minimal Accessibility Statement"
permalink: /planning/statements/minimal-example/
github:
  repository: w3c/wai-statements
  path: "minimal-example.html"
footer: >
  <p><strong>Date:</strong> Published 29 November 2018.</p>
  <p><strong>Editors:</strong> <a href="https://www.w3.org/People/shadi">Shadi Abou-Zahra</a>, Eric Velleman, Sanne Eendebak, Roel Antonisse, and Leon Baauw.</p>
  <p>Developed by the <a href="https://www.w3.org/WAI/EO/">Education and Outreach Working Group (EOWG)</a>. Developed as part of the <a href="https://www.w3.org/WAI/Tools/">WAI-Tools project</a>, co-funded by the European Commission. <a href="../acknowledgements/">Acknowledgements</a>.</p>
---

{% include box.html type="start" title="Example of an accessibility statement including only the most essential parts" class="example" %}
<h2>Accessibility Statement for <span class="basic-information website-name">Citylights WebStore</span></h2>
<p>
	<span class="basic-information organization-name">Citylights Inc.</span>
	is committed to ensuring digital accessibility for people with disabilities.
	We are continually improving the user experience for everyone, and applying the relevant accessibility standards.
</p>
<h3>Conformance status</h3>
<p>
	The <a href="https://www.w3.org/WAI/standards-guidelines/wcag/">Web Content Accessibility Guidelines (WCAG)</a> defines requirements for designers and developers to improve accessibility for people with disabilities. It defines three levels of conformance: Level A, Level AA, and Level AAA.
	<span class="basic-information website-name">Citylights WebStore</span>
	is
	<span class="basic-information conformance-status" data-printfilter="lowercase">partially conformant</span>
	with
	<span class="basic-information conformance-standard">WCAG 2.1 level AA</span>.
	<span>
	<span class="basic-information conformance-status">Partially conformant</span>
	means that
	<span class="basic-information conformance-meaning">some parts of the content do not fully conform to the accessibility standard</span>.
</span>
</p>
<h3>Feedback</h3>
<p>
	We welcome your feedback on the accessibility of
	<span class="basic-information website-name">Citylights WebStore</span>.
	Please let us know if you encounter accessibility barriers on
	<span class="basic-information website-name">Citylights WebStore</span>:
</p>
<ul class="basic-information feedback h-card">
	<li>
	Phone:
	<span class="phone-number p-tel">+12 34 567 89 00</span>
</li>
	<li>
	E-mail:
	<a class="email u-email" href="mailto:accessibility@example.org">accessibility@example.org</a>
</li>
	<li>
	Postal address:
	<span class="postal-address p-adr">PO Box 1, 234 Example Ville</span>
</li>
</ul>
<p>
	We try to respond to feedback within
	<span class="feedback responsetime">5 business days</span>.
</p>
<hr noshade="noshade">
<p>
	This statement was created on
	<span class="basic-information statement-created-date">26 October 2018</span>
	using the <a href="../">W3C Accessibility Statement Generator Tool</a>.
</p>
{% include box.html type="end" %}
