---
title: "Example of Minimal Accessibility Statement"
permalink: /planning/statements/minimal-example/
github:
  repository: w3c/wai-statements
  path: "complete-example.html"
footer: >
  <p><strong>Status:</strong> DRAFT Updated $date$.</p>
  <p><strong>Editors:</strong> <a href="https://www.w3.org/People/shadi">Shadi Abou-Zahra</a>, Eric Velleman, Sanne Eendebak, Martijn Frazer, and Leon Baauw.</p>
  <p>Developed by the <a href="https://www.w3.org/WAI/EO/">Education and Outreach Working Group (EOWG)</a>. Developed as part of the <a href="https://www.w3.org/WAI/Tools/">WAI-Tools project</a>, co-funded by the European Commission. <a href="../acknowledgements/">Acknowledgements</a>.</p>
external_css: /content-images/wai-statements/statements.css
---

{% include box.html type="start" title="Example of an accessibility statement including only the most essential parts" class="example" %}
      <h2>Accessibility Statement for Citylights WebStore</h2>

      <p>Citylights Inc. is committed to ensuring digital accessibility for people with disabilities. We are continually improving the user experience for everyone, and applying the relevant accessibility standards.</p>

      <div id="statement-conformance">
        <h3>Conformance status</h3>
        <p>The <a href="https://www.w3.org/WAI/standards-guidelines/wcag/">Web Content Accessibility Guidelines (WCAG)</a> defines requirements for designers and developers to improve accessibility for people with disabilities. It defines three levels of conformance: Level A, Level AA, and Level AAA. Citylights WebStore is partially conformant with WCAG 2.1 Level AA. Partially conformant means that some parts of the content do not fully conform to the accessibility standard.</p>
      </div>

      <h3>Feedback</h3>
      <p>We welcome your feedback on the accessibility of Citylights WebStore. Please let us know if you encounter accessibility barriers on Citylights WebStore:</p>

      <ul id="statement-feedback"><li>Phone: +12 34 567 89 00</li><li>E-mail: <a href="mailto:accessibility@example.org">accessibility@example.org</a></li><li>Postal Address: PO Box 1, 234 Example Ville</li></ul>

      <p class="conditional" data-if="accstmnt_contact_responsetime">We try to respond to feedback within 5 work days.</p>

      <hr noshade="">

      <p>This statement was created on 2018-10-18.</p> 
{% include box.html type="end" %}
