#accstatement *
{
  box-sizing: border-box;
}

#accstatement .Accordion .Accordion-title,
#accstatement form .label,
#accstatement form legend
{
  font-size: 1.5rem;
}

#accstatement section.page
{
  padding: 20px 0 50px 0;
}

#accstatement .container
{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

#accstatement .breadcrumb
{
  padding-bottom: 15px;
  margin-bottom: 30px;
  border-bottom: solid 1px #000;
  font-size: .9rem;
}
  #accstatement .breadcrumb a
  {
    color: #2D6197;
  }
  #accstatement .breadcrumb a.current
  {
    text-decoration: none;
    color: #555;
  }

#accstatement ul.nolist
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
}
  #accstatement ul.nolist li
  {
    display: block;
    margin: 0;
    padding: 0;
  }

#accstatement h2,
.Accordion-title
{
  font-weight: normal;
  color: #005a6a;
}
#accstatement .Accordion
{
  margin-bottom: 3em;
}
  #accstatement .Accordion-trigger
  {
    background: none;
    border: 0;
    display: block;
    font-weight: normal;
    margin: 0;
    padding: 10px 0 10px 2.5rem;
    text-align: left;
    width: 100%;
    position: relative;
  }
    #accstatement .Accordion-title
    {
      display: block;
      pointer-events: none;
    }
    #accstatement .Accordion-icon
    {
      display: inline-block;
      border: solid 2px #000;
      pointer-events: none;
      padding: 0 5px 1px 5px;
      position: absolute;
      text-align: center;
      left: 2px;
      top: .5em;
      font-weight: bold;
      color: #000;
    }
    #accstatement .Accordion-icon::after
    {
      content: "+";
    }
    #accstatement .Accordion-trigger[aria-expanded="true"] .Accordion-icon::after
    {
      content: "â€";
      padding-left: 2px;
      padding-right: 3px;
    }
  #accstatement .Accordion-panel
  {
    margin: 0;
    padding: 0 0 1em 0;
  }

#accstatement form .header
{
  width: 100%;
}

#accstatement form .info
{
  font-size: 1rem;
  padding: 1px 15px;
  background-color: #edf4fa;
  border: solid 1px #2D6197;
  margin-bottom: 1em;
}
  #accstatement form .info a
  {
    font-weight: bold;
  }
#accstatement form button.info-open
{
  color: #fff;
  background-color: #2D6197;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: solid 1px #333;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
  #accstatement form button.info-open span
  {
    font-size: 80%;
    position: absolute;
    top: 1px;
    left: 9px;
  }

#accstatement form fieldset,
#accstatement form legend
{
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
}
  #accstatement form
  {
    max-width: 1000px;
  }
    #accstatement form .proto
    {
      display: none;
    }
    #accstatement form .intro
    {
      margin-bottom: 3em;
    }
    #accstatement form .expl
    {
      margin: 0 0 0.5em 0;
    }
    #accstatement form .field
    {
      overflow: hidden;
      margin: 1em 0 3em 0;
      border: 0;
      padding: 0;
    }
    #accstatement form label,
    #accstatement form h3.label,
    #accstatement form legend.label,
    #accstatement form .group legend
    {
      display: block;
      margin-bottom: 0.25em;
      font-weight: normal;
    }
    #accstatement form input:not([type="checkbox"]):not([type="radio"]),
    #accstatement form textarea
    {
      display: block;
      padding: 10px;
      width: 100%;
      border: solid 1px #ccc;
      box-shadow: inset 0 3px 5px -3px #888;
    }
    #accstatement form input:not([type="checkbox"]):not([type="radio"]):focus,
    #accstatement form textarea:focus
    {
      outline: solid 1px #2D6197;
      box-shadow: 0;
    }
    #accstatement form .radio-field
    {
      position: relative;
      margin-top: 1em;
    }
      #accstatement form .radio-field input
      {
        position: absolute;
        left: 0;
        top: 4px;
        width: 1em;
        height: 1em;
      }
      #accstatement form .radio-field input + label
      {
        padding-left: 2em;
      }
    #accstatement form .radio-group
    {
      display: inline-block;
      margin-top: 0.5em;
      margin-right: 1em;
      overflow: hidden;
      width: auto;
    }
      #accstatement form .radio-group legend
      {
        margin-bottom: 0.25em;
      }
      #accstatement form .radio-group input
      {
        height: 0;
        width: 0;
        opacity: 0;
      }
      #accstatement form .radio-group label
      {
        float: left;
        border: solid 1px #ccc;
        padding: 8px 20px;
        cursor: pointer;
      }
      #accstatement form .radio-group label:not(:last-child)
      {
        border-right: 0;
      }
      #accstatement form .radio-group label:hover,
      #accstatement form .radio-group input:focus + label
      {
        background-color: #eee;
      }
      #accstatement form .radio-group input:checked + label
      {
        background-color: #2D6197;
        color: #fff;
      }
    #accstatement form .group
    {
      margin-bottom: 3em;
    }
      #accstatement form .group legend
      {

      }
      #accstatement form .group > .field
      {
        margin-left: 2em;
        margin-bottom: 0;
      }
  #accstatement form .input-cols
  {
    display: grid;
    grid-template-columns: 9em 9em;
    margin-bottom: 1em;
  }
  #accstatement form button.add-line
  {
   float: right;
   /* background-color: #2D6197;
    color: #fff;
    border: solid 1px #000;
    border-radius: 3px;
    padding: 5px 10px;
    margin-top: 1em;*/
  }
  #accstatement form table
  {
    width: 100%;
  }
    #accstatement form table th
    {
      vertical-align: bottom;
    }
#accstatement .action
{
  margin-top: 2em;
  text-align: center;
}

#accstatement .page.preview h3
{
font-weight: normal;
font-size: 1.45rem;
margin: 3em 0 0 0;
}
#accstatement .page.preview h4
{
font-size: 1.1em;
margin: 2em 0 0 0;
}
#accstatement .page.preview table
{
width: 100%;
border-spacing: 0;
border-collapse: collapse;
}
#accstatement .page.preview table thead th
{
  text-align: left;
  background-color: #ddd;
  font-weight: normal;
}
#accstatement .page.preview table thead th,
#accstatement .page.preview table tbody td
{
  border: solid 1px #000;
  padding: 5px;
}
