---
# Translation instructions are after the "#" character in this first section. They are comments that do not show up in the web page. You do not need to translate the instructions after #.
# In this first section, do not translate the words before a colon. For example, do not translate "title:". Do translate the text after "title:".

title: "Developing an Accessibility Statement"

lang: en   # Change "en" to the translated-language shortcode from https://www.iana.org/assignments/language-subtag-registry/language-subtag-registry
last_updated: 2021-03-11   # Put the date of this translation YYYY-MM-DD (with month in the middle)
first_published: "November 2018"

# translators:    # remove from the beginning of this line and the lines below: "# " (the hash sign and the space)
# - name: "Jan Doe"   # Replace Jan Doe with translator name
# - name: "Jan Doe"   # Replace Jan Doe with name, or delete this line if not multiple translators
# contributors:
# - name: "Jan Doe"   # Replace Jan Doe with contributor name, or delete this line if none
# - name: "Jan Doe"   # Replace Jan Doe with name, or delete this line if not multiple contributors

github:
  repository: w3c/wai-statements
  path: content/index.html   # Add the language shortcode to the middle of the filename, for example: index.fr.md
permalink: /planning/statements/   # Add the language shortcode to the end, with no slash at end, for example: /planning/statements/fr

ref: /planning/statements/   # Translators, do not change this
external_css: /content-images/wai-statements/generator.css

description:  This resource helps you create an accessibility statement for your own website, mobile application, or other digital content.   # translate the description

footer: >   # Translate words below, including "Date:" and "Editor:" Translate the Working Group name. Leave the Working Group acronym in English. Do *not* change the dates in the footer below.
  <p><strong>Project Team:</strong> <a href="https://www.w3.org/People/shadi">Shadi Abou-Zahra</a>, Eric Velleman, Sanne Eendebak, Roel Antonisse, and Bas de Bruin. <a href="acknowledgements/">Acknowledgements</a>.</p>
  <p>Developed by the <a href="https://www.w3.org/WAI/EO/">Education and Outreach Working Group (EOWG)</a>. Developed as part of the <a href="https://www.w3.org/WAI/Tools/">WAI-Tools project</a>, co-funded by the European Commission.</p>

---

{% include box.html type="start" title="Summary" class="" %}
<p>This tool helps you create an accessibility statement for your own website, mobile application, or other digital content. You can download the statement you created, and further customize, style, and brand it. Read more below about accessibility statements or <a href="{{ '/planning/statements/generator/' | relative_url }}#create">generate an accessibility statement</a> right away.</p>
{% include box.html type="end" %}

{% include excol.html type="all" %}

{% include excol.html type="start" %}
<h2>Why provide an accessibility statement</h2>

{% include excol.html type="middle" %}
<p>Accessibility statements are important for several reasons:</p>
<ul>
    <li>Show your users that you care about accessibility and about them</li>
    <li>Provide them with information about the accessibility of your content</li>
    <li>Demonstrate commitment to accessibility, and to social responsibility</li>
</ul>
<p>In some situations, you may be required to provide an accessibility statement, such as public bodies in countries that implement the <a href="https://eur-lex.europa.eu/eli/dir/2016/2102/oj">EU Web Accessibility Directive {% include_cached external.html %}</a>. The W3C list of <a href="https://www.w3.org/WAI/policies/">Web Accessibility Laws &amp; Policies</a> can help you identify policies applicable to you.
</p>
{% include excol.html type="end" %}

{% include excol.html type="start" %}
<h2>What to include in an accessibility statement</h2>

{% include excol.html type="middle" %}
<p>Accessibility statements should contain at least the following:</p>
<ul>
    <li>A commitment to accessibility for people with disabilities</li>
    <li>The accessibility standard applied, such as <a href="{{ '/standards-guidelines/wcag/' | relative_url }}">WCAG 2.1</a></li>
    <li>Contact information in case users encounter problems</li>
</ul>
<p>It is also advisable to include the following information:</p>
<ul>
    <li>Any known limitations, to avoid frustration of your users</li>
    <li>Measures taken by your organization to ensure accessibility</li>
    <li>Technical prerequisites, such as supported web browsers</li>
    <li>Environments in which the content has been tested to work</li>
    <li>References to applicable national or local laws and policies</li>
</ul>
<p>Note that in some situations you may be required to provide particular content in your accessibility statements. For example, there are specific <a href="https://eur-lex.europa.eu/eli/dec_impl/2018/1523/oj">requirements for accessibility statements in relation to the EU Web Accessibility Directive {% include_cached external.html %}</a>.</p>
{% include excol.html type="end" %}

{% include excol.html type="start" %}
<h2>How to write an accessibility statement</h2>

{% include excol.html type="middle" %}
<p>Accessibility statements are primarily for users of your content. Usually they will refer to accessibility statements when they encounter problems. Technical and jurisdictional language will likely lead to confusion and increase the frustration rather than help your users. It is important to write in simple language, and to provide information that is useful to the users, rather than use the language of developers and lawyers.</p>
<p>In particular, accessibility statements should explain functionality and known limitations in common terms. For example, rather than to say “WCAG Success Criterion 1.2.2 was not met”, it is better to say “videos do not have captions”. Accessibility statements are not technical assessments or declarations of conformity, though they ideally refer to such background to provide verification and increase credibility.</p>
{% include excol.html type="end" %}

{% include excol.html type="start" %}
<h2>Where to put an accessibility statement</h2>

{% include excol.html type="middle" %}
<p>Accessibility statements should be easy to find. Linking them from several places, such as from the footer, help menu, sitemap, about page, and other prominent areas helps users to find them. Use consistent link names for your accessibility statements to help users recognize them. This includes link names across the content of your website and mobile applications, and across groups of related websites and mobile applications. For example, use the same link name on all web pages to refer to an accessibility statement for that website, and use that same link name to refer to the accessibility statement of the mobile application version of the website.</p>
{% include excol.html type="end" %}

{% include excol.html type="start" %}
<h2>Examples of accessibility statements</h2>

{% include excol.html type="middle" %}
<p>The following examples of accessibility statements were created using this generator tool:</p>
<ul>
    <li>
        <a href="{{ '/planning/statements/minimal-example/' | relative_url }}">Example of Minimal Accessibility Statement</a>
    </li>
    <li>
        <a href="{{ '/planning/statements/complete-example/' | relative_url }}">Example of Complete Accessibility Statement</a>
    </li>
    <li>
        <a href="{{ '/about/accessibility-statement/' | relative_url }}">Web Accessibility Initiative (WAI) Website Accessibility Statement</a>
    </li>
</ul>
{% include excol.html type="end" %}

{% include excol.html type="start" %}
<h2>About this generator tool</h2>

{% include excol.html type="middle" %}
<p>This accessibility statement generator tool is designed for use in different contexts and jurisdictions. These situations can be so different that we cannot provide support for each one individually. For example, you may be subject to a particular organizational policy, quality assurance process, or law that requires you to provide certain information in your accessibility statement.</p>
<p>This generator tool allows you to enter different types of information to create accessibility statements for your particular situation. You can download the generated accessibility statement to further customize it for your own needs. You can also reuse the <a href="https://github.com/w3c/wai-statements">source code for this generator tool {% include_cached external.html %}</a>, for example to translate it or to customize it for your particular situation.</p>
{% include excol.html type="end" %}


<p>
    <a href="{{ '/planning/statements/generator/' | relative_url }}#create" class="button" style="margin-top: 2rem;">Generate an accessibility statement</a>
</p>
